[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
EZGmail = "*"
python-dotenv = "*"
pytz = "*"
geopy = "*"
schedule = "*"

[dev-packages]
EZGmail = "*"

[requires]
python_version = "3.8"
